PORT=3001
JWT_SECRET=supersecret

DB_USUARIOS_URL=postgresql://postgres:MRTbVHLwDSXsTCNpelCAiBFojLBCTKps@shinkansen.proxy.rlwy.net:10595/railway
DB_PAQUETES_URL=postgresql://postgres:EqHwALkKPwmbJReDdEwaQPcIYfcMdHCF@ballast.proxy.rlwy.net:57800/railway
DB_RESERVAS_URL=postgresql://postgres:VCJfoTWZasJFpZdVCGhLzwAaPMfrJary@switchback.proxy.rlwy.net:57662/railway
DB_FACTURAS_URL=postgresql://postgres:GgbWMUmNYSsmwTPPpkJyPddzBKkruCsw@maglev.proxy.rlwy.net:44869/railway
DB_CARRITO_URL=postgresql://postgres:vWrgZhaJgXcRDuuRqdNATfWAAZqlKbkX@caboose.proxy.rlwy.net:10662/railway
DB_PAGOS_URL=postgresql://postgres:nSOncpUYNooopKvrkFCWxtTAEnJyHFso@interchange.proxy.rlwy.net:17978/railway

# Banco externo (NO se toca)
BANK_BASE_URL=http://mibanca.runasp.net/api
BANK_CUENTA_AGENCIA=299
